body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table{
  border: 1px solid gray;
  border-collapse: collapse;
  width: 50%;
  margin: 30px;
}

.cell{
  text-align: center;
  border: 1px solid gray;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.header {
  background-color: #eee;
}