body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* Table styles */

.table{
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 0 5px 5px 5px;
  border-radius: 0 0 3px 3px;
}

.header-cell{
  text-align: center;
  border: 1px solid gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-cell{
  text-align: center;
  border: 1px solid gray;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header {
  background-color: #eee;
}

.table-header{
  margin-top: 5px;
  margin-left: 5px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: #eee;
  height: 20px;
  text-align: center;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  border-radius: 3px 3px 0 0;
}

.table-name{
  width: 33%;
}

/* Table options */

.table-options-wrapper{
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.option-block{
  border: 1px solid gray;
  height: 15px;
  width: 15px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  border-radius: 3px;
  background-color: white;
  font-size: 13px;
}

.search-box{
  margin-right: 2px;
  padding: 2px;
  width: 120px;
}

.filter-box{
  background: #eee;
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  z-index: 20;
  position: absolute;
  top: 29px;
}

.columnList{
  min-height: 100px;
  height: auto;
  width: 100px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 6px -6px #777;
}

.filter-item-name{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex{
  display: flex;
}

.filter-item-wrapper{
  width: 100px;
  height: 20px;
  display: flex;
}