body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table{
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 30px;
}

.cell{
  text-align: center;
  border: 1px solid gray;
}

.header {
  background-color: #eee;
}